<% @planes = Plane.all%>
<% plane = @planes.sample%>
<div class = "home-card">
    
   <% if plane.photos.attached?%>
  <div class = "home-card-img" style ="background-image:
    url('<%= cl_image_path plane.photos[0].key%>')">
  <% else%>
    <div class= "home-card-img" style = "background-image: url('https://www.arachnys.com/wp-content/uploads/2022/02/iStock-466619660.jpg');">
  <%end%>
  <%= link_to "", plane_path(plane), class: "home-card-link"%>
  </div>
  <div class = "home-card-text">
    
    <p class = "home-card-text-specific">Model: <%=plane.model%></p>
    <p class = "home-card-text-specific">Location: <%=plane.address%></p>
    <p class = "home-card-text-specific">Price: <%=plane.price_per_hour%></p>
    <p class = "home-card-text-specific">Seats: <%=plane.seats%></p>
  </div>
</div>