<div class = "show-card">
  <% if plane.photos.attached?%>
  <div class = "show-card-img" style ="background-image:
    url('<%= cl_image_path plane.photos[0].key%>')">
  <% else%>
    <div class= "show-card-img" style = "background-image: url('https://www.arachnys.com/wp-content/uploads/2022/02/iStock-466619660.jpg');">
  <%end%>
  </div>

  <div class = "show-card-text">
    <div>
      <p class='bold-plane-name' ><%=plane.name%></p>
      <p class="model"><%=plane.model%></p>
      <p><%=plane.price_per_hour%>€</p>
    </div>
    <div class="card-price-adress">
      <i class="fa-solid fa-user-pilot"></i>
      <p><%=plane.user.first_name%></p>
    </div>
  </div>
</div>
