<div class="body_form">
<div class="container_form">
<h2>Add your plane</h2>
  <div class="navigation">
<%= simple_form_for(@plane) do |f|%>
    <%= f.input :name %>
    <%= f.input :model %>
    <%= f.input :price_per_hour %>
    <%= f.input :seats %>
    <%= f.input :overview %>
    <%= f.input :address %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }%>
    <%= f.submit %>
  <% end %>
</div>
</div>
</div>
