<div class="show-plane">
  <div class="info-show-plane">
    <div class="container-content"><h1 class="planes-name"><%= @plane.name%> </h1>

        <h6>Model</h6>
        <p><%= @plane.model%></p>
        <h6>Price</h6>
        <p><%= @plane.price_per_hour%> €/h</p>
        <h6>Seats</h6>
        <p><%= @plane.seats%></p>
        <h6>Address</h6>
        <p><%= @plane.address%></p>
        <% owner = User.find(@plane.user_id) %>
        <h6>Owner</h6>
        <p><%= owner.first_name %></p>
        <h6>Overview</h6>
        <p><%= @plane.overview%></p>
  </div>


    <div class="buttons">
      <% if policy(@plane).edit?%>
      <div class="btn-plane">
          <%= link_to "Edit this plane", edit_plane_path(@plane) %>
      </div>
      <%end%>
      <% if policy(@plane).destroy?%>
      <div class="btn-plane">
      <%= link_to "Destroy this plane", plane_path(@plane), data: { turbo_method: :delete, turbo_confirm: "Please, we need your plane" }%>
    </div>
      <%end%>
    <div class="btn-plane"><%= link_to "Book a flight w/ this plane",  new_plane_booking_path(@plane) %></div>
    </div>
  </div>
<div>


  <div class = "colage-container">
    <img class="img1" src="<%= cl_image_path @plane.photos[0].key%>" alt="">
    <div class="img-both">
      <img class="img2" src="<%= cl_image_path @plane.photos[1].key%>" alt="">
      <img class="img3" src="<%= cl_image_path @plane.photos[2].key%>" alt="">
    </div>
  </div>

</div>
</div>
<% if @plane.bookings.count != 0 %>
  <h2>Booking for this plane</h2>
<% end %>
  <ul>
    <% @plane.bookings.each do |booking| %>
      <li>From <strong><%= booking.start_date.strftime('%d %B %Y') %></strong> to <strong><%= booking.end_date.strftime('%d %B %Y')  %></strong> - ( <%= booking.price %>€ )
      <% if policy(booking).destroy?%>
       <%= link_to  booking_path(booking), data: { "turbo_method": :delete, "turbo_confirm": "Are you sure you want to remove ?"} do%>
        <i class="fa-solid fa-trash"></i>
        <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
