<div id = "page-body">
<div class = "user-container">
  <div class = "user-card">
    <div class = "user-card-header">
      <div class = "avatar">
        <%= render "shared/avatar"%>
      </div>
      <div class = "user-card-welcome"> Welcome Back <br><%= current_user.first_name.capitalize%>
      </div>
    </div>
      <div class = "user-card-bookings">
        <h3>Bookings for your planes</h3>
        <% plane = @user.planes.each do |plane|%>
          <p><i class="fa-solid fa-plane"></i> <span class = "plane-name"><%=plane.name%></span><i class="fa-solid fa-plane"></i></p>
          <%plane.bookings.each do |booking|%>
          <p> <i class="fa-solid fa-calendar-week"></i> </p>
            <%=(booking.start_date).to_formatted_s(:long_ordinal)%> to<br>
            <%=(booking.end_date).to_formatted_s(:long_ordinal)%><br>
            <%end%>
            <%end%>
      </div>
      <div class = "user-card-flights">
        <h3>Planes you've booked</h3>
        <%@user.bookings.each do |booking|%>
        <span class = "plane-name"><%=booking.plane.name%></span> <%=(booking.end_date).strftime("%B %d, %Y")%><br>
        <%end%>
      </div>
  </div>
  <div class = "user-planes">
    <h2> Plane Stats </h2>
    <div id = "user-planes-card">
    <% plane = @user.planes.each do |plane|%>
      <div class = "user-planes-card-solo">
          <%= render "planes/user-planes", plane: plane%>
        <div class = "user-planes-card-stats">
  
          <%@revenue = 0%>
          <p > Upcoming Bookings:</p>
          <span class = "upcoming-bookings">
          <%plane.bookings.each do |booking|%>
              <%@revenue += booking.price%>
              <p class = "p-booking"><%=(booking.end_date).strftime("%B %d, %Y")%></p>
              <%end%>
              </span>
          
          <p> Annual Revenue: <%=@revenue%> €</p>
          <p> Plane bookings All-Time: <%=plane.bookings.count%></p>
          
        </div>
        </div>
        <%end%>
      </div>
  </div>
</div>
</div>