<%= render "pages/banner"%>
  <%= form_with url: planes_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a plane"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <div class = "pages-text-background">
    <h1>Plane Force: Travel in Style</h1>

    <p>Plane force creates revenue streams for the global elite and memories for the global aspiring</p>
<div class = "pages-sample-planes">
  <%= render "planes/home-planes"%>
  <%= render "planes/home-planes"%>
  <%= render "planes/home-planes"%>
</div>

</div>
